body {
    background-color: rgb(247, 242, 242);
    font-family: Arial, Helvetica, sans-serif;

}
.h1{
font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blue;
font-size: 35px;
margin: 0px 0px 5px 10px;
}
.text{
    margin-bottom: 15px;
    margin-left: 10px;
}

.container {
    width: 30%;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.input input {
    width: 85%;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    border-width: 1px;
}
button {
    width: 95%;
    margin: 10px 0px 15px 7px;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    background-color: #0000ffdd;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.link{
    text-decoration: none;
    color:blue;
    margin-left: 30%;
    margin-bottom: 10%;
    
}
.B input{
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 10px;
    background-color: rgb(53 207 13 / 95%);
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.foot{
    margin-top: 25px;
    text-align: center;
}
.priv{
    font-weight: 600;
}